$body_bg: rgb(204,204,204);

$light_outline: rgb(157,157,157);
$dark_outline: rgb(85,85,85);

$red_light: rgb(255,77,83);
$green_light: rgb(50,255,0);

$light_button_click: #dcdcdc;
$dark_button_outline: rgb(162,162,162);

$list_bg: rgb(221,221,221);
$list_text_clr: rgb(102,102,102);
$list_selection_clr: #aaa20b;